@model Cilesta.Models.User.RegistrationModel

@{
    ViewBag.Title = "Регистрация";
}
<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4"><h2>@ViewBag.Title</h2></div>
    <div class="col col-4"></div>
</div>

<div class="row b-padding-top-20">
    <div class="col col-5"></div>
    <div class="col col-2">
        <form method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль*</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                <small id="emailHelp" class="form-text text-muted">Минмум 5 символов.</small>
            </div>
            <div class="form-check b-padding-top-20">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Согласен с правилами
                </label>
            </div>
            <div class="text-center b-padding-top-20">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
    <div class="col col-5"></div>
</div>