@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>

<form action="index" method="post">
    <input name="login" />
    <input name="password" type="password" />
    <button type="submit">Вход</button>
</form>

